@page "/"

<h1>Ask your question</h1>




    <div class="container">
        <textarea placeholder="Type your question here..."></textarea>
        <div class="button-container">
            <button>For</button>
            <button>Against</button>
            <button>Neutral</button>
        </div>
    </div>

