@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase


<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <!--Floating bottom nav-->
    <AuthorizeView>
    <div>
        <nav class="fixed-bottom align-content-center">
            <div class="row justify-content-evenly">
                <!--Start Padding-->
                <div class="col-1"></div>
                <!--Home-->
                <LowerNavItem Icon="home" Title="Home" Link="home" />

                <!--Settings-->
                <LowerNavItem Icon="settings" Title="Settings" Link="settings" />

                <!--About Us-->
                <LowerNavItem Icon="info" Title="About Us" Link="about" />

                <!--Logout-->
                <LowerNavItem Icon="logout" Title="Logout" Link="logout" />

                <!--End Padding-->
                <div class="col-1"></div>
            </div>
        </nav>
    </div>
    </AuthorizeView>
</div>
